/****************************************** ABOUT ME ********************************************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.profile-img {
  width: 400px;
  border-radius: 50%;
  padding: 0.3rem;
  border: thick double #002fff;
}

.about-heading {
  color: #002fff;
  padding-top: 50px;
  text-transform: uppercase;
}

@media (max-width: 468px) {
  .profile-img {
    width: 200px;
  }
}
