/****************************************** ABOUT ME ********************************************/
.aboutme {
  padding: 0.7rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.profile-img {
  width: 400px;
  border-radius: 50%;
  padding: 0.3rem;
  border: thick double #1900ff;
}

.about-heading {
  color: #002fff;
}

.textSE {
  color: #002fff;
}

.textSE:hover {
  color: #002fff;
  text-decoration: none;
}

.about-details1 {
  font-size: 1.5rem;
  margin-top: 5.5rem;
}

@media (max-width: 468px) {
  .profile-img {
    width: 200px;
  }
  .photo-wrap {
    margin-top: -5rem;
  }
  .about-details1 {
    margin-top: -1rem;
  }
}
