@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif !important;
}
/****************************************** NAVBAR ********************************************/
.particles-canvas {
  padding-bottom: 100px;
}
nav {
  background-color: #030b16;
  z-index: 2;
}

.logo {
  width: 7.5rem;
  margin-top: 1.6rem;
  /* margin-left: 5rem; */
}

/* ------------MENU LINK--------------*/
nav a.nav-link {
  letter-spacing: 0.1rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #ffffff !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: solid 0.25rem #3444f1;
  height: 2px;
  background: #3444f1;
}

.navbar-nav > li > a:hover {
  border-top: solid 0.25rem #3444f1;
  height: 2px;
  background: #3444f1;
}

/****************************************** Header ********************************************/
.header-wraper {
  position: relative;
  background-color: #030b16;
  /* background: url("../images//backgroubd.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 88vh;
}

.header-wraper h1 {
  font-size: 4rem;
}

.githand {
  margin-top: -30px;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: #ffffff;
  text-transform: uppercase;
}

/******************************** TYPED TEXT ********************************/
.typed-text {
  font-size: 2rem;
  color: #ffffff;
  /* background-color: #6f52ab; */
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

/************************** HEADER MAIN OFFER BUTTON *************************/
.btn-main-offer {
  border: 1.5px solid #3444f1;
  text-transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #ffffff;
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #3444f1;
  transition: 0.2s ease-in-out;
}

/************************** PARTICLES JS *************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
