:root {
  --primary-white: #ffffff;
  --primary-navi: #030b16;
  --primary-skyblue: #3444f1;
  --primary-dark: #f5f5ff;
  --primary-bluebird: #00a6ff;
  --primary-hover-red: #930000;
  --primary-pic: #002fff;
}

/****************************************** Contacts COMPONENT ********************************************/

.contacts {
  background: var(--primary-navi);
  padding: 3rem 0;
}

.txtContacts {
  color: var(--primary-white);
  padding: 1.3rem 0;
}

.contacts p {
  color: var(--primary-skyblue);
  font-size: 1.2rem;
}

/****************************************** INPUT ********************************************/
/*------------------ INPUTS -------------------------------*/
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid #e4fcff;
  border-radius: 0;
  color: #006aff;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: #f0f0f0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: #00a6ff;
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: #ff0000;
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: #00ff7f;
}

/*---------------- MEDIA -----------------------*/
@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}
