/****************************************** EDUCATION ********************************************/
.education {
  background: #030b16;
  padding: 0.7rem;
  padding-bottom: 10rem;
}

.education-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.education h1 {
  text-align: left;
  color: #002fff;
  padding-top: 5rem;
}

.piclogo {
  width: 125px;
}

.education-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.2rem;
  height: 100%;
  background: #ffffff;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid #9ad9fb;
  background: #9ad9fb;
  margin-top: 3.5rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: #ffffff;
  /*จุด ซ้ายขวา
  direction: rtl;
  */
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: #0099ff;
}

@media (max-width: 768px) {
  .education .container {
    padding-left: 0;
  }

  .education-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    width: 100%;
    direction: ltr;
  }
}
