:root {
  --primary-white: #ffffff;
  --primary-whitetxt: #d2ebff;
  --primary-dark: #343a06;
  --primary-light-grey: #f4f4f4f4;
  --primary-skylight: #9ad9fb;
  --primary-bluebird: #00a6ff;
  --primary-skyblue: #3444f1;
  --primary-txtName: #002fff;
  --primary-navi: #030b16;
  --primary-hover-red: #930000;
}

/****************************************** EDUCATION ********************************************/

.education {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-navi);
}

.education h1 {
  text-align: left;
  color: var(--primary-txtName);
  padding-top: 5rem;
}

.piclogo {
  width: 125px;
}
