/****************************************** EXPERIENCE ********************************************/

.experience {
  padding-top: 6rem;
  padding-bottom: 15rem;
}

.txtExp,
.textV {
  color: #3444f1;
}
.textDate {
  color: #000000;
  font-size: 22px;
}
.textV:hover,
.textDate:hover {
  color: #3444f1;
  text-decoration: none;
}

.showi3 p,
.showi3 {
  margin-top: 2.2rem;
  font-size: 1.2rem;
}

.box2 {
  margin-right: 30px;
  color: #3444f1;
  font-size: 20px;
  text-align: center;
  margin-left: 15rem;
}

@media (max-width: 768px) {
  .box1 {
    margin-left: 0;
  }
  .box2 {
    color: #1500ff;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-height: 570px) {
  .box1 {
    margin-left: 0;
  }
  .box2 {
    color: #1500ff;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-height: 280px) {
  .box1 {
    margin-left: 0;
  }
  .box2 {
    color: #1500ff;
    font-size: 20px;
    text-align: center;
  }
}
