/****************************** FOOTER ********************************/
.footer {
  background: #030b16;
  color: #ffffff;
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: #0091ff;
}

.footer a:hover {
  text-decoration: none;
  color: #00ffee;
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
.txtCopy {
  margin-right: 0;
}
@media (max-width: 768px) {
  .iconbox {
    margin-top: 2.5rem;
    margin-left: -0.5rem;
  }
  .txtCopy {
    margin-left: -1rem;
  }
}

@media (max-height: 570px) {
  .iconbox {
    margin-top: 2rem;
  }
  .txtCopy {
    margin-left: -1rem;
  }
}

@media (max-height: 280px) {
  .iconbox {
    margin-top: 2rem;
  }
  .txtCopy {
    margin-left: 1rem;
  }
}
