/****************************** FOOTER ********************************/
.footer {
  background: #030b16;
  color: #ffffff;
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: #0091ff;
}

.footer a:hover {
  text-decoration: none;
  color: #00ffee;
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
