.Loading {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

@media (max-width: 768px) {
  .Loading {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -120px;
  }
}

@media (max-height: 570px) {
  .Loading {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -120px;
  }
}

@media (max-height: 280px) {
  .Loading {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
  }
}
