/****************************************** PROJECT ********************************************/

.project-wrapper {
  background: #f5f5ff;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.project-wrapper h1 {
  color: #3444f1;
}

.project-wrapper p {
  color: #000000;
  font-size: 2rem;
}

.project-image {
  width: 15rem;
}

.project-image-box {
  position: relative;
  margin: 1rem;
}

/*------------ OVERFLOW BOX  ------------------*/
.overflow {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 15rem;
  height: 8rem;
  top: 0;
  /* border: 2px solid #930000; */
  cursor: pointer;
}

.project-image-box:hover .overflow {
  opacity: 50%;
  height: 7.25rem;
  transition: 0.3s ease-in-out;
}

.project-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.4rem;
  justify-content: center;
  align-self: center;
  color: #00a6ff;
  font-size: 1.5rem;
}

.project-image-box:hover .project-icon {
  opacity: 85%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*----------------------------------- OVERFLOW BOX WakekyWay  -----------------------------------*/
.project-image-WakekyWay {
  width: 15rem;
}
.project-image-box-WakekyWay {
  position: relative;
  margin: 1rem;
}

.overflow-WakekyWay {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 15rem;
  height: 8rem;
  top: 0;
  /* border: 2px solid #930000; */
  cursor: pointer;
}

.project-image-box-WakekyWay:hover .overflow-WakekyWay {
  opacity: 50%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 29.7rem;
  transition: 0.3s ease-in-out;
}

.project-icon-WW {
  position: absolute;
  opacity: 0;
  margin-left: -8.5rem;
  margin-top: 14rem;
  justify-content: center;
  align-self: center;
  color: #00a6ff;
  font-size: 1.8rem;
}

.project-image-box-WakekyWay:hover .project-icon-WW {
  opacity: 85%;
  transition: 0.3s ease-in-out;

  cursor: pointer;
}
/*----------------------------------- OVERFLOW BOX POPUP WakekyWay  -----------------------------------*/
.project-image-WakekyWayPopupbox {
  width: 30%;
  padding: 0 1rem;
  margin-left: 20rem;
}
.popupbox-wrapper {
  margin-top: 5rem;
}
.hyper-link {
  cursor: pointer;
  color: #00a6ff;
}
.hyper-link:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .project-image-WakekyWayPopupbox {
    height: 60%;
    width: 50%;
    margin-left: 4rem;
  }
  .popupbox-wrapper {
    width: 40%;
  }
  .textpop {
    font-size: 20px;
  }
}

@media (max-height: 570px) {
  .project-image-WakekyWayPopupbox {
    width: 50%;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 30%;
    margin-top: 8rem;
  }
  .textpop {
    font-size: 18px;
  }
}

@media (max-height: 280px) {
  .project-image-WakekyWayPopupbox {
    height: 200px;
    width: 200px;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 80%;
    margin-top: 8rem;
  }
  .textpop {
    font-size: 18px;
  }
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------- OVERFLOW BOX Modify ---------------------------------------*/
.project-image-Modify {
  width: 15.03rem;
}
.project-image-box-Modify {
  position: relative;
  margin: 1rem;
}

.overflow-Modify {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 15rem;
  height: 8rem;
  top: 0;
  cursor: pointer;
}

.project-image-box-Modify:hover .overflow-Modify {
  opacity: 50%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 29.7rem;
  transition: 0.3s ease-in-out;
}

.project-icon-Modify {
  position: absolute;
  opacity: 0;
  margin-left: -8.5rem;
  margin-top: 14rem;
  justify-content: center;
  align-self: center;
  color: #00a6ff;
  font-size: 1.8rem;
}

.project-image-box-Modify:hover .project-icon-Modify {
  opacity: 85%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/*----------------------------------- OVERFLOW BOX POPUP Modify  -----------------------------------*/
.project-image-ModifyPopupbox {
  height: 70%;
  width: 35%;
  margin-left: 18rem;
}
.popupbox-wrapper {
  width: 50%;
}
.hyper-link {
  cursor: pointer;
  color: #00a6ff;
}
.hyper-link:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .project-image-ModifyPopupbox {
    height: 75%;
    width: 55%;
    margin-left: 4rem;
  }
  .popupbox-wrapper {
    width: 80%;
    height: 70%;
  }
  .textpop {
    font-size: 20px;
  }
}

@media (max-height: 570px) {
  .project-image-ModifyPopupbox {
    width: 50%;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 50px;
    height: 100px;
  }
  .textpop {
    font-size: 18px;
  }
}

@media (max-height: 280px) {
  .project-image-ModifyPopupbox {
    height: 200px;
    width: 200px;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 80%;
    margin-top: 8rem;
  }
  .textpop {
    font-size: 18px;
  }
}
/*------------------------------------------------------------------------------------------------------*/

/*----------------------------------------- OVERFLOW BOX Pokemon  ---------------------------------------*/
.project-image-Pokemon {
  width: 15.09rem;
}
.project-image-box-Pokemon {
  position: relative;
  margin: 1rem;
}

.overflow-Pokemon {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 15rem;
  height: 8rem;
  top: 0;
  /* border: 2px solid #930000; */
  cursor: pointer;
}

.project-image-box-Pokemon:hover .overflow-Pokemon {
  opacity: 50%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 29.7rem;
  transition: 0.3s ease-in-out;
}

.project-icon-Pokemon {
  position: absolute;
  opacity: 0;
  margin-left: -8.5rem;
  margin-top: 14rem;
  justify-content: center;
  align-self: center;
  color: #00a6ff;
  font-size: 2rem;
}

.project-image-box-Pokemon:hover .project-icon-Pokemon {
  opacity: 85%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/*----------------------------------- OVERFLOW BOX POPUP Pokemon  -----------------------------------*/
.project-image-PokemonPopupbox {
  height: 70%;
  width: 35%;
  margin-left: 18rem;
}
.popupbox-wrapper {
  width: 50%;
}
.hyper-link {
  cursor: pointer;
  color: #00a6ff;
}
.hyper-link:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .project-image-PokemonPopupbox {
    height: 75%;
    width: 55%;
    margin-left: 4rem;
  }
  .popupbox-wrapper {
    width: 80%;
    height: 70%;
  }
  .textpop {
    font-size: 20px;
  }
}

@media (max-height: 570px) {
  .project-image-PokemonPopupbox {
    width: 50%;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 50px;
    height: 100px;
  }
  .textpop {
    font-size: 18px;
  }
}

@media (max-height: 280px) {
  .project-image-PokemonPopupbox {
    height: 200px;
    width: 200px;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 80%;
    margin-top: 8rem;
  }
  .textpop {
    font-size: 18px;
  }
}
/*------------------------------------------------------------------------------------------------------*/

/*----------------------------------------- OVERFLOW BOX COVID19  ---------------------------------------*/
.project-image-COVID19 {
  width: 15.09rem;
}
.project-image-box-COVID19 {
  position: relative;
  margin: 1rem;
}

.overflow-COVID19 {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 15rem;
  height: 8rem;
  top: 0;
  /* border: 2px solid #930000; */
  cursor: pointer;
}

.project-image-box-COVID19:hover .overflow-COVID19 {
  opacity: 50%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height: 29.7rem;
  transition: 0.3s ease-in-out;
}

.project-icon-COVID19 {
  position: absolute;
  opacity: 0;
  margin-left: -8.5rem;
  margin-top: 14rem;
  justify-content: center;
  align-self: center;
  color: #00a6ff;
  font-size: 2rem;
}

.project-image-box-COVID19:hover .project-icon-COVID19 {
  opacity: 85%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/*----------------------------------- OVERFLOW BOX POPUP COVID19  -----------------------------------*/
.project-image-COVID19Popupbox {
  height: 50%;
  width: 30%;
  margin-left: 18rem;
}
.popupbox-wrapper {
  width: 50%;
}
.hyper-link {
  cursor: pointer;
  color: #00a6ff;
}
.hyper-link:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .project-image-COVID19Popupbox {
    height: 75%;
    width: 55%;
    margin-left: 4rem;
  }
  .popupbox-wrapper {
    width: 80%;
    height: 70%;
  }
  .textpop {
    font-size: 20px;
  }
}

@media (max-height: 570px) {
  .project-image-COVID19Popupbox {
    width: 50%;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 50px;
    height: 100px;
  }
  .textpop {
    font-size: 18px;
  }
}

@media (max-height: 280px) {
  .project-image-COVID19Popupbox {
    height: 200px;
    width: 200px;
    margin-left: 1rem;
  }
  .popupbox-wrapper {
    width: 80%;
    margin-top: 8rem;
  }
  .textpop {
    font-size: 18px;
  }
}
/*------------------------------------------------------------------------------------------------------*/


/*----------------------------------------- OVERFLOW BOX Website  ---------------------------------------*/
.project-image-Website {
  width: 100%;
}
.project-image-box-Website {
  position: relative;
  margin: 1rem;
}

.overflow-Website {
  position: absolute;
  opacity: 0;
  background: #000000;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}

.project-image-box-Website:hover .overflow-Website {
  opacity: 35%;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .project-image-Website {
    width: 18rem;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .project-image-Website {
    width: 18rem;
  }
}

@media (width: 414px) and (max-height: 736px) {
  .project-image-Website {
    width: 18rem;
  }
}