:root {
  --primary-white: #ffffff;
  --primary-navi: #030b16;
  --primary-skyblue: #3444f1;
  --primary-dark: #f5f5ff;
  --primary-bluebird: #00a6ff;
  --primary-hover-red: #930000;
  --primary-pic: #647ef6;
  --primary-gray: #5f6196;
}

/****************************************** PROJECT ********************************************/

.project-wrapper {
  background: var(--primary-gray);
  padding: 3rem 0;
}

.project-image {
  width: 50px;
  border: 1px soild var(--primary-navi);
  padding: 0 0.5rem;
}
